<h1 class="animated fadeIn fast">About Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est quo itaque unde. Quam architecto illum ratione eaque omnis, pariatur hic in rerum sequi alias corporis eos, perspiciatis minus incidunt maiores!
    Ab nulla error sed ratione neque! Iste natus debitis fugiat nulla voluptatibus illum hic architecto odit, commodi nisi porro. Molestiae laborum ut fugiat exercitationem ullam vel dolorum earum aliquid eos.
    Sunt ipsa minus sapiente recusandae quam! Ullam enim accusamus sed doloremque veritatis tempora fuga fugit optio mollitia labore voluptatum rerum excepturi saepe, at illum porro? Natus eveniet est ex repellat.
    Eius dolore dolorum iusto esse, libero error molestias voluptatem vero dolor dolores placeat omnis. Ea impedit, explicabo, quo consequatur reprehenderit magnam reiciendis repellat veritatis, praesentium expedita laboriosam nihil cupiditate sint?
</p>